<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clawrock_av>
            <models>
                <!--
                <vendor>
                    <method>\Your\Method\Model</method>
                </vendor>
                -->
            </models>
        </clawrock_av>
    </default>
</config>
